.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0px 50px;
}

.item {
  padding-bottom: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.number {
  font-size: 5rem;
  font-weight: bold;
  margin-right: 1rem;
  flex-shrink: 0;
  color: transparent;
  -webkit-text-stroke: 0.5px #fff;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1;
}

.title {
  flex: 1;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
}

.toggle {
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: none;
  background: #000;
  border: 1px solid #e4007c;
  cursor: pointer;
  transition: all 1s ease;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background: #fff;
    transition: all 0.3s ease;
  }

  &::before {
    width: 16px;
    height: 2px;
    top: 50%;
    background-color: transparent;
    border: 1px solid #e4007c;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    width: 2px;
    height: 16px;
    background-color: transparent;
    border: 1px solid #e4007c;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.active {
    background: #e4007c;

    &::after {
      height: 0;
    }
  }
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  opacity: 0;
}

.content.open {
  opacity: 1;
}
